h1, h2 {
    text-align: center;   
}

p {
  font-size: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#lyonName {
    background-color: gray;
    width: 80%;
    padding-bottom: 100%;
    text-align: center;
    margin: 10%;
}

#lyonName:hover {
    background-color: aliceblue;   
}

#bernName {
    background-color: gray;
    width: 80%;
    padding-bottom: 100%;
    margin: 10%;
}

#bernName:hover {
    background-color: aliceblue;   
}

#bernPic {
    background-color: gray;
    width: 80%;
    padding-bottom: 100%;
    margin: 10%;
}

#bernPic:hover {
    background-color: aliceblue;   
}

#lyonPic {
    background-color: gray;
    width: 80%;
    padding-bottom: 100%;
    margin: 10%;
}

#lyonPic:hover {
    background-color: aliceblue;   
}

button {
    color: white;
    font-size: 20px;
    background: darkblue;
    border: none;
    padding: 15px;
    
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button:hover {
    background: lightblue;   
}